<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Sandeep's Blogsite</title>
</head>
<body>
<nav>
    <h1 class="nav-bar">Sandeep's Blogsite</h1>
    <ul class="nav-bar">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/create">Create</a></li>
        <li class="nav-item"><a href="/update">Update</a></li>
        <li class="nav-item"><a href="/delete">Delete</a></li>
    </ul>
</nav>