<%- include("partials/header.ejs") %>
<% if(locals.flag){ %>
      <h1>Blog updated successfully.</h1>
<% } else{%>
<form action="/update" method="POST">
    <input type="hidden" name="blogPage" value=<%= blogPage %>>
    <input type="hidden" name="flag" value="true">
    <label for="title">Title</label>
    <input type="text" name="title" required>
    <label for="post">Post</label>
    <textarea name="post" id="post" cols="30" rows="10" required></textarea >
    <input type="submit" name="submit">
<% } %>
</form>